* {
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  background: gray;
}
/*-- NAVIGATION MEGA MENU ----*/
nav {
  position: sticky;
  top: 0;
  z-index: 2;
}
.menu-container ul {
  display: flex;
  background: #2e9aa6;
}
li {
  list-style: none;
}
a {
  color: #2e5955;
  text-decoration: none;
  margin: 5px 0;
}
a:hover {
  color: #f2e2ce;
}
.main-menu-category {
  padding: 20px;
  position: relative;
}
.sub-menu-category {
  position: absolute;
  display: none;
  z-index: 10;
}
.sub-menu-column ul {
  display: block;
  background: #8abfbf;
  text-align: left;
  padding: 50px;
}
.main-menu-category:hover .sub-menu-category {
  display: flex;
}
/*---- BANNER SLIDER ---*/
.banner-slider-container {
  width: 1240px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}
button {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 150px;
  z-index: 2;
}
#previous {
  left: 60px;
}
#next {
  right: 60px;
}
.slide {
  align-self: center;
  width: 1000px;
  height: 350px;
  overflow: hidden;
}
.slide img {
  width: 1000px;
  height: 350px;
}
/*----- products container ----*/
.products-container {
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.products-container img {
  width: 200px;
  height: 400px;
  margin: 20px;
}

@media only screen and (max-width: 375px) {
  .container {
    width: 375px;
    padding: 25px;
  }
  .sub-menu-category {
    flex-direction: column;
  }
  .banner-slider-container {
    width: 325px;
    height: 150px;
  }
  button {
    top: 120px;
  }
  .slide,
  .slide img {
    width: 325px;
    height: 150px;
  }
  .products-container {
    width: 375px;
    grid-template-columns: 1fr;
    padding: 0;
    padding: 0 62.5px;
  }
  #previous {
    left: 10px;
  }
  #next {
    right: 10px;
  }
  .products-container img {
    width: 200px;
    height: 300px;
    margin: 20px 0;
  }
}
